In [3]:
library(tidyverse)
library(reshape2)
#library(stringr)

In [4]:
loans = read.csv("loans_py.csv")
accounts = read.csv("../data/accounts.csv")
cards = read.csv("../data/cards.csv")
districts = read.csv("../data/districts.csv")
links = read.csv("../data/links.csv")
transactions = read.csv("../data/transactions.csv")

In [5]:
# Rename columns in the 'accounts' dataframe
names(accounts)[names(accounts) == "id"] <- "account_id"
names(accounts)[names(accounts) == "date"] <- "open_date"

# Rename columns in the 'districts' dataframe
names(districts)[names(districts) == "id"] <- "district_id"

# Merge the 'districts' dataframe with the 'accounts' dataframe using an outer join
accounts <- merge(accounts, districts[, c("district_id", "name")], by.x = "district_id", by.y = "district_id", all = TRUE)

# Rename the merged column to 'district_name'
names(accounts)[names(accounts) == "name"] <- "district_name"

# Drop the 'district_id' column
accounts <- accounts[, !(names(accounts) %in% c("district_id"))]

In [6]:
# Drop columns "id" and "date" from the 'loans' dataframe
loans <- loans[, !(names(loans) %in% c("id", "date"))]

# Create empty vectors to store "status" and "default" values
status <- vector("character", length = nrow(loans))
default <- vector("logical", length = nrow(loans))

# Iterate through the "status" column and populate "status" and "default" vectors
for (i in 1:nrow(loans)) {
  if (loans$status[i] == "A" ){
    status[i] <- "expired"
    default[i] <- FALSE
  }  else if (loans$status[i] == "B"){
    status[i] <- "expired"
    default[i] <- TRUE    
  } else if (loans$status[i] == "C" || loans$status[i] == "D") {
    status[i] <- "current"
    default[i] <- FALSE
  }
}

# Replace the "status" and "default" columns in the 'loans' dataframe
loans$status <- status
loans$loan_default <- default

# Rename columns
colnames(loans) <- c("account_id","loan_amount", "loan_payments", "loan_term", "loan_status", "loan_default")

In [7]:
accounts <- merge(accounts, loans, all = TRUE)

In [8]:
# Create a new column 'loan' in the 'accounts' dataframe
accounts$loan <- NA

# Iterate through rows
for (i in 1:nrow(accounts)) {
  if (is.na(accounts$loan_amount[i])) {
    accounts$loan[i] <- FALSE
  } else {
    accounts$loan[i] <- TRUE
  }
}

In [9]:
# Drop the "id" column from the 'links' dataframe
links <- links[, !(names(links) %in% c("id"))]

# Drop the "id" and "type" columns from the 'cards' dataframe
cards <- cards[, !(names(cards) %in% c("id", "type"))]

# Rename the "link_id" column to "client_id" in the 'cards' dataframe
colnames(cards)[colnames(cards) == "link_id"] <- "client_id"

In [10]:
# Merge the 'links' and 'cards' dataframes using an outer join
a <- merge(links, cards, all = TRUE)

# Create a cross-tabulation to count the number of customers per account_id
b <- table(a$account_id)

# Convert the result to a dataframe and reset the index
b <- as.data.frame(b)
names(b) <- c("account_id", "num_customers")

# Merge the 'accounts' dataframe with the 'b' dataframe using an outer join
accounts <- merge(accounts, b, by = "account_id", all = TRUE)

In [11]:
# Create a subset of 'a' dataframe and count the number of credit cards per account_id
c <- table(a[!is.na(a$issue_date), "account_id"])

# Convert the result to a dataframe and reset the index
c <- as.data.frame(c)
names(c) <- c("account_id", "credit_cards")

# Merge the 'accounts' dataframe with the 'c' dataframe using an outer join
accounts <- merge(accounts, c, by = "account_id", all = TRUE)

# Replace missing values in the 'credit_cards' column with 0
accounts$credit_cards[is.na(accounts$credit_cards)] <- 0

In [12]:
# Initialize columns for max and min balances in the 'accounts' dataframe
accounts$max_balance <- NA
accounts$min_balance <- NA

# Initialize columns for max and min withdrawal amounts in the 'accounts' dataframe
accounts$max_withdrawal <- NA
accounts$min_withdrawal <- NA

# Create a subset of 'transactions' dataframe for debit transactions
withdraw <- transactions %>% filter(type == "debit")

# Iterate through unique account IDs in 'transactions'
for (i in unique(transactions$account_id)) {
  # Calculate the max and min balances for the current account ID
  min_balance <- min(transactions$balance[transactions$account_id == i])
  max_balance <- max(transactions$balance[transactions$account_id == i])
  
  # Update the 'accounts' dataframe with max and min balances
  accounts$max_balance[accounts$account_id == i] <- max_balance
  accounts$min_balance[accounts$account_id == i] <- min_balance

  # Calculate the max and min withdrawal amounts for the current account ID
  min_withdrawal <- min(withdraw$amount[withdraw$account_id == i])
  max_withdrawal <- max(withdraw$amount[withdraw$account_id == i])
  
  # Update the 'accounts' dataframe with max and min withdrawal amounts
  accounts$max_withdrawal[accounts$account_id == i] <- max_withdrawal
  accounts$min_withdrawal[accounts$account_id == i] <- min_withdrawal
}

In [13]:
# Create a subset of 'withdraw' dataframe for transactions with "credit card" method
payments <- withdraw[withdraw$method == "credit card", ]

# Initialize a column for credit card payments in the 'accounts' dataframe
accounts$cc_payments <- 0

# Iterate through unique account IDs in 'transactions'
for (i in unique(transactions$account_id)) {
  # Count the number of credit card payments for the current account ID
  num_cc_payments <- sum(payments$account_id == i)
  
  # Update the 'accounts' dataframe with the number of credit card payments
  accounts$cc_payments[accounts$account_id == i] <- num_cc_payments
}

In [14]:
accounts <- accounts %>%
  select('account_id', 'district_name', 'open_date', 'statement_frequency','num_customers','credit_cards', 'loan', 'loan_amount','loan_payments', 'loan_term', 'loan_status', 'loan_default','max_withdrawal', 'min_withdrawal', 'cc_payments', 'max_balance', 'min_balance')

In [15]:
accounts

     account_id district_name     open_date  statement_frequency num_customers
1     1         Pisek             1995-03-24 monthly             1
2     2         Hl.m. Praha       1993-02-26 monthly             2
3     3         Kolin             1997-07-07 monthly             2
4     4         Pribram           1996-02-21 monthly             1
5     5         Cesky Krumlov     1997-05-30 monthly             1
6     6         Trutnov           1994-09-27 monthly             1
7     7         Prostejov         1996-11-24 monthly             1
8     8         Hodonin           1995-09-21 monthly             2
9     9         Karvina           1993-01-27 monthly             1
10   10         Brno - mesto      1996-08-28 monthly             1
11   11         Sumperk           1995-10-10 monthly             1
12   12         Tabor             1997-04-15 monthly             2
13   13         Sumperk           1997-08-17 monthly             2
14   14         Pardubice         1996-11-27 monthly             1
15   15         Karvina           1993-10-02 monthly             1
16   16         Pribram           1997-09-23 monthly             1
17   17         Hl.m. Praha       1997-01-08 monthly             2
18   18         Hradec Kralove    1993-05-26 weekly              1
19   19         Tabor             1995-04-07 monthly             1
20   20         Ostrava - mesto   1996-08-24 monthly             1
21   21         Brno - mesto      1997-12-06 monthly             1
22   22         Hl.m. Praha       1994-03-23 monthly             1
23   23         Sokolov           1993-05-22 monthly             1
24   24         Ostrava - mesto   1996-12-05 monthly             1
25   25         Frydek - Mistek   1996-07-28 monthly             1
26   26         Usti nad Orlici   1993-08-08 monthly             1
27   27         Opava             1993-09-26 monthly             1
28   29         Melnik            1994-11-24 monthly             2
29   30         Liberec           1995-03-04 monthly             1
30   31         Frydek - Mistek   1994-04-27 monthly             1
...  ...        ...               ...        ...                 ...
4471 11021      Hl.m. Praha       1993-08-10 monthly             1
4472 11027      Ceska Lipa        1996-07-26 weekly              1
4473 11042      Olomouc           1995-01-29 monthly             1
4474 11053      Nachod            1997-05-27 monthly             1
4475 11054      Kromeriz          1996-02-01 weekly              1
4476 11065      Praha - zapad     1993-03-19 monthly             1
4477 11069      Litomerice        1995-06-02 monthly             1
4478 11079      Jindrichuv Hradec 1995-11-10 monthly             1
4479 11096      Plzen - sever     1996-12-10 monthly             1
4480 11111      Hl.m. Praha       1993-05-20 monthly             2
4481 11123      Most              1996-07-21 monthly             1
4482 11135      Prerov            1993-10-10 monthly             1
4483 11138      Karvina           1995-08-18 weekly              1
4484 11141      Hl.m. Praha       1997-02-11 weekly              1
4485 11186      Pribram           1994-11-24 monthly             2
4486 11231      Hl.m. Praha       1997-02-05 monthly             1
4487 11244      Decin             1997-01-12 monthly             1
4488 11265      Cesky Krumlov     1993-01-14 monthly             1
4489 11271      Kolin             1995-09-20 monthly             1
4490 11295      Ostrava - mesto   1993-01-21 monthly             1
4491 11317      Svitavy           1997-07-11 monthly             1
4492 11320      Chrudim           1993-05-26 monthly             1
4493 11325      Uherske Hradiste  1996-10-15 monthly             1
4494 11327      Melnik            1997-10-15 monthly             1
4495 11328      Brno - mesto      1996-11-05 monthly             1
4496 11333      Mlada Boleslav    1994-05-26 monthly             1
4497 11349      Hl.m. Praha       1995-05-26 weekly              2
4498 11359      Trebic            1994-10-01 monthly             1
4499 11362      Bruntal           1995-10-14 monthly             1
4500 11382      Ostrava - mesto   1995-08-20 monthly             1
     credit_cards loan  loan_amount loan_payments loan_term loan_status
1    0            FALSE    NA         NA          NA        NA
2    0             TRUE 80952       3373          24        expired
3    0            FALSE    NA         NA          NA        NA
4    0            FALSE    NA         NA          NA        NA
5    0            FALSE    NA         NA          NA        NA
6    0            FALSE    NA         NA          NA        NA
7    1            FALSE    NA         NA          NA        NA
8    0            FALSE    NA         NA          NA        NA
9    0            FALSE    NA         NA          NA        NA
10   0            FALSE    NA         NA          NA        NA
11   0            FALSE    NA         NA          NA        NA
12   0            FALSE    NA         NA          NA        NA
13   0            FALSE    NA         NA          NA        NA
14   1            FALSE    NA         NA          NA        NA
15   0            FALSE    NA         NA          NA        NA
16   0            FALSE    NA         NA          NA        NA
17   0            FALSE    NA         NA          NA        NA
18   0            FALSE    NA         NA          NA        NA
19   0             TRUE 30276       2523          12        expired
20   0            FALSE    NA         NA          NA        NA
21   0            FALSE    NA         NA          NA        NA
22   0            FALSE    NA         NA          NA        NA
23   0            FALSE    NA         NA          NA        NA
24   0            FALSE    NA         NA          NA        NA
25   0             TRUE 30276       2523          12        expired
26   0            FALSE    NA         NA          NA        NA
27   0            FALSE    NA         NA          NA        NA
28   0            FALSE    NA         NA          NA        NA
29   0            FALSE    NA         NA          NA        NA
30   0            FALSE    NA         NA          NA        NA
...  ...          ...   ...         ...           ...       ...
4471 0             TRUE 168984      7041          24        expired
4472 0             TRUE  48096      2004          24        current
4473 0             TRUE 217152      6032          36        expired
4474 0            FALSE     NA        NA          NA        NA
4475 0             TRUE 148920      2482          60        current
4476 0             TRUE  69360      1445          48        expired
4477 0             TRUE 119136      2482          48        current
4478 0             TRUE  98304      8192          12        expired
4479 0             TRUE 213300      3555          60        current
4480 0             TRUE 108144      3004          36        expired
4481 0            FALSE     NA        NA          NA        NA
4482 0             TRUE 182628      5073          36        expired
4483 0             TRUE  89880      3745          24        expired
4484 0             TRUE  44940      3745          12        expired
4485 0             TRUE 392460      6541          60        current
4486 0             TRUE  89280      7440          12        expired
4487 0             TRUE 155760      6490          24        current
4488 0             TRUE  52788      4399          12        expired
4489 0             TRUE  67320      1870          36        current
4490 0            FALSE     NA        NA          NA        NA
4491 0             TRUE 317460      5291          60        current
4492 0            FALSE     NA        NA          NA        NA
4493 0            FALSE     NA        NA          NA        NA
4494 0             TRUE  39168      1632          24        current
4495 0             TRUE 280440      4674          60        current
4496 0            FALSE     NA        NA          NA        NA
4497 0             TRUE 419880      6998          60        current
4498 0             TRUE  54024      4502          12        expired
4499 0             TRUE 129408      5392          24        expired
4500 0            FALSE     NA        NA          NA        NA
     loan_default max_withdrawal min_withdrawal cc_payments max_balance
1       NA         7500          15             0            30415
2    FALSE        42000          15             0            69302
3       NA         7400          15             0            53447
4       NA         5250          15             0            34870
5       NA         5100          15             0            32036
6       NA        11600          15             0            51879
7       NA        25800          15             1            99675
8       NA        40800          15             0            79255
9       NA        38100          15             0            85444
10      NA        23840          15             0            83410
11      NA         6700          15             0            40389
12      NA        11000          15             0            29053
13      NA         7500          15             0            29751
14      NA        17200          15             6            59453
15      NA        46720          15             0            66671
16      NA        26300          15             0            60274
17      NA        25500          15             0           100815
18      NA        70200          30             0           155603
19    TRUE        18500           1             0            58158
20      NA         4950          15             0            20458
21      NA        28000          15             0            61685
22      NA        27600          15             0            68160
23      NA        40480          15             0            95299
24      NA        26800          15             0            49091
25   FALSE        63300          15             0           134210
26      NA        29100          15             0            83469
27      NA         9500          15             0            40464
28      NA        18000           8             0            59950
29      NA        75600          15             0           149154
30      NA        61700          15             0           137131
...  ...          ...            ...            ...         ...
4471  TRUE        55200           3              0          165293
4472 FALSE        20320          30              0           51010
4473 FALSE        34200          15             11          112781
4474    NA        63600          15              0          174213
4475 FALSE        22780          30              0           66825
4476 FALSE        18600          15              0           56736
4477 FALSE        63100          15              0          121370
4478 FALSE        64100          15              4          146540
4479 FALSE        41280          15              0           74941
4480 FALSE        60600          15              0          155582
4481    NA        37800           3              0           96982
4482 FALSE        20300          15              0           71488
4483 FALSE        64200          30              8          168372
4484 FALSE        78600          30              5          144498
4485 FALSE        56300          15              2          139173
4486 FALSE        50900          15              0          109530
4487 FALSE        47600          15              0          131320
4488 FALSE        17920          15              0           41469
4489 FALSE        13200          15              0           43949
4490    NA        47200           2              0          110998
4491 FALSE        61700          15              0          135890
4492    NA        33440           1              0           66264
4493    NA        47700           1              0          114709
4494 FALSE        23600          15              0           81496
4495 FALSE        61000          15              0          136153
4496    NA        62800           0              0          137043
4497 FALSE        64800          30              0          113679
4498 FALSE        30100          15             22           81706
4499 FALSE        16100          15              0           56056
4500    NA        52800           1              0           93550
     min_balance
1      1000
2      1100
3      1000
4       800
5       600
6       900
7       900
8       900
9       400
10     1100
11      300
12     1100
13     1000
14      400
15      800
16      500
17      700
18      576
19   -10605
20      500
21     1100
22     1100
23      800
24     1000
25      900
26      800
27      900
28      700
29      400
30      800
...  ...
4471  -518
4472   800
4473   400
4474 -1932
4475   400
4476  1100
4477  1100
4478   300
4479   800
4480   900
4481 -1535
4482   500
4483   800
4484   200
4485   900
4486   900
4487   200
4488  1000
4489   200
4490 -1370
4491   700
4492  -428
4493   -86
4494   300
4495  1000
4496 -1291
4497   200
4498  1000
4499  1000
4500 -1037