In [16]:
library(tidyverse)
library(reshape2)

In [17]:
# Load the data from the CSV file
df = read.csv("../data/loans.csv")

# Drop columns "id", "date", "amount", and "payments"
df_melted <- df[, !(names(df) %in% c("id", "date", "amount", "payments"))]

In [18]:
# Melt the DataFrame
df_melted <- melt(df_melted, id.vars = "account_id")

In [19]:
# Find and drop rows with "-" in the "value" column
na_indices <- which(df_melted$value == "-")
df_melted <- df_melted[-na_indices, ]
df_melted$variable <- str_replace(df_melted$variable, 'X', '')

In [20]:
# Split the "variable" column into "month" and "status"
a <- strsplit(as.character(df_melted$variable), "_")
term <- sapply(a, function(x) x[1])
status <- sapply(a, function(x) x[2])
df_melted$term <- term
df_melted$status <- status

In [21]:
# Drop "variable" and "value" columns
df_melted <- df_melted[, !(names(df_melted) %in% c("variable", "value"))]

In [22]:
head(df_melted)
head(df)

   account_id term status
1     2       24   A
6    67       24   A
33  544       24   A
42  816       24   A
45  846       24   A
55 1012       24   A

  id   account_id date       amount payments X24_A X12_B X12_A X60_D X48_C ...
1 4959  2         1994-01-05  80952 3373     X     -     -     -     -     ...
2 4961 19         1996-04-29  30276 2523     -     X     -     -     -     ...
3 4962 25         1997-12-08  30276 2523     -     -     X     -     -     ...
4 4967 37         1998-10-14 318480 5308     -     -     -     X     -     ...
5 4968 38         1998-04-19 110736 2307     -     -     -     -     X     ...
6 4973 67         1996-05-02 165960 6915     X     -     -     -     -     ...
  X60_C X24_B X48_D X24_D X48_B X36_A X36_B X60_B X12_D X60_A
1 -     -     -     -     -     -     -     -     -     -
2 -     -     -     -     -     -     -     -     -     -
3 -     -     -     -     -     -     -     -     -     -
4 -     -     -     -     -     -     -     -     -     -
5 -     -     -     -     -     -     -     -     -     -
6 -     -     -     -     -     -     -     -     -     -

In [23]:
# Merge the melted DataFrame with the original DataFrame
df <- merge(df, df_melted, by = "account_id", all = TRUE)

In [24]:
head(df)

  account_id id   date       amount payments X24_A X12_B X12_A X60_D X48_C ...
1  2         4959 1994-01-05  80952 3373     X     -     -     -     -     ...
2 19         4961 1996-04-29  30276 2523     -     X     -     -     -     ...
3 25         4962 1997-12-08  30276 2523     -     -     X     -     -     ...
4 37         4967 1998-10-14 318480 5308     -     -     -     X     -     ...
5 38         4968 1998-04-19 110736 2307     -     -     -     -     X     ...
6 67         4973 1996-05-02 165960 6915     X     -     -     -     -     ...
  X48_D X24_D X48_B X36_A X36_B X60_B X12_D X60_A term status
1 -     -     -     -     -     -     -     -     24   A
2 -     -     -     -     -     -     -     -     12   B
3 -     -     -     -     -     -     -     -     12   A
4 -     -     -     -     -     -     -     -     60   D
5 -     -     -     -     -     -     -     -     48   C
6 -     -     -     -     -     -     -     -     24   A

In [25]:
# Drop rows with missing values
df <- na.omit(df)

# Drop specified columns by column index
df <- df[, -c(6:25)]

In [26]:
df

    account_id id   date       amount payments term status
1     2        4959 1994-01-05  80952 3373     24   A
2    19        4961 1996-04-29  30276 2523     12   B
3    25        4962 1997-12-08  30276 2523     12   A
4    37        4967 1998-10-14 318480 5308     60   D
5    38        4968 1998-04-19 110736 2307     48   C
6    67        4973 1996-05-02 165960 6915     24   A
7    97        4986 1997-08-10 102876 8573     12   A
8   103        4988 1997-12-06 265320 7370     36   D
9   105        4989 1998-12-05 352704 7348     48   C
10  110        4990 1997-09-08 162576 4516     36   C
11  132        4996 1996-11-06  88440 7370     12   A
12  173        5002 1994-05-31 104808 8734     12   A
13  176        5005 1997-04-10  27456 2288     12   A
14  226        5015 1998-07-12 109344 9112     12   C
15  276        5027 1998-12-02 160920 4470     36   C
16  290        5032 1994-11-03 123696 2577     48   A
17  303        5034 1998-05-30 112752 3132     36   C
18  309        5036 1998-11-25  91248 1901     48   C
19  314        5039 1997-05-03  66840 2785     24   C
20  319        5041 1997-07-11 369000 6150     60   C
21  330        5042 1998-07-12 331584 6908     48   C
22  339        5043 1997-12-25 468060 7801     60   C
23  344        5044 1994-12-21 100980 1683     60   C
24  347        5045 1995-05-01 187224 7801     24   B
25  349        5046 1998-09-09  42816 3568     12   C
26  378        5051 1997-10-11 230400 3840     60   C
27  426        5060 1994-07-19 252060 4201     60   D
28  440        5061 1998-03-13  84288 1756     48   C
29  442        5063 1997-07-10 357840 7455     48   D
30  472        5072 1997-04-28 196800 8200     24   D
... ...        ...  ...        ...    ...      ...  ...
653 10915      7221 1998-06-11 152460 2541     60   C
654 10940      7226 1994-02-23 197748 5493     36   A
655 10942      7227 1995-10-02 314520 5242     60   C
656 10954      7230 1997-04-02  18720  312     60   C
657 10963      7233 1996-12-25 115812 3217     36   C
658 10973      7235 1993-10-13 154416 3217     48   A
659 11013      7240 1993-09-06 274740 4579     60   A
660 11021      7241 1995-03-04 168984 7041     24   B
661 11027      7242 1997-10-23  48096 2004     24   C
662 11042      7243 1995-12-04 217152 6032     36   A
663 11054      7246 1996-08-20 148920 2482     60   C
664 11065      7249 1994-06-12  69360 1445     48   A
665 11069      7250 1997-03-04 119136 2482     48   C
666 11079      7253 1997-04-26  98304 8192     12   A
667 11096      7255 1997-06-09 213300 3555     60   C
668 11111      7259 1994-01-31 108144 3004     36   A
669 11135      7262 1994-03-01 182628 5073     36   A
670 11138      7263 1996-01-19  89880 3745     24   A
671 11141      7264 1997-10-07  44940 3745     12   A
672 11186      7271 1996-10-02 392460 6541     60   C
673 11231      7277 1997-10-24  89280 7440     12   A
674 11244      7279 1997-12-11 155760 6490     24   C
675 11265      7284 1993-09-15  52788 4399     12   A
676 11271      7286 1997-01-31  67320 1870     36   C
677 11317      7292 1998-11-22 317460 5291     60   C
678 11327      7294 1998-09-27  39168 1632     24   C
679 11328      7295 1998-07-18 280440 4674     60   C
680 11349      7304 1995-10-29 419880 6998     60   C
681 11359      7305 1996-08-06  54024 4502     12   A
682 11362      7308 1996-12-27 129408 5392     24   A

In [27]:
# Convert the "month" column to integers
df$term <- as.integer(df$term)

# Save the resulting DataFrame to a CSV file
# write.csv(df, file = "./loans_r.csv", row.names = FALSE)